#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form {
  display: flex;
  border-radius: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #7e7c7c;

}

.decks {
  display: grid;
  width:600px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
 

}

.decks li {
  position: relative;
  transition: box-shadow .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120px;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
 
  background-color: #c0c0c0;
color: rgb(0, 0, 0);

  

}

.decks li:hover {
  box-shadow: 4px 10px 0px 4px #292929;
  cursor: pointer;
  background-color: #a8a7a7;

}

.decks li button {
  position: absolute;
font-size: 10px;
background-color: #c0c0c0;
  border: none;
  top: 1px;
  right: 1px;

}