
.Deck {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.Deck form {
  display: flex;
  border-radius: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

body {


  
  height: 100vh;
}





.cards {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.cards li {
  position: relative;
  transition: box-shadow .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120px;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c0c0c0;
  color: rgb(0, 0, 0);
}

.cards li:hover {
  box-shadow: 4px 10px 0px 4px #292929;
  cursor: pointer;
  background-color: #a8a7a7;
}

.cards li button {
  position: absolute;
  font-size: 10px;
  background-color: #c0c0c0;
  border: none;
  top: 1px;
  right: 1px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cards li:hover button {
  opacity: 0.5;
}
.cards li button:hover {
  opacity: 1;
}
